.selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: aliceblue;
  margin-bottom: 25px;
  width: 18vw;
  border-radius: 20px;
}

.title {
  color: black;
  font-weight: bold;
}
.selector {
  width: 50%;
  height: 50%;
  margin-left: 5%;
  text-align: center;
  background-color: white;
  color: black;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  border-color: rgb(210, 210, 210);
}
